*{
	margin: 0; /* body */
	text-decoration: none;
	padding: 0;/* ul */
    list-style-type: none;
    box-sizing: border-box;/* 浏览器自动解析padding */
}
img{
	border: 0;
	display: block;
}/* img默认有border大小，需要清除 */